{escript_name, "bin/digger"}.

{lib_dirs, ["deps"]}.

{deps, [
    {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client"}},
    {erlydtl,     ".*", {git, "git://github.com/evanmiller/erlydtl.git"}},
    {mochiweb,    ".*", {git, "git://github.com/mochi/mochiweb.git"}}
]}.

{escript_incl_apps, [mochiweb, erlydtl, amqp_client, rabbit_common]}.

{require_otp_vsn, "R15"}.
{erl_opts,        [debug_info]}.

{xref_checks,     [undefined_function_calls]}.
{eunit_opts,      [verbose]}.
{cover_enabled,   true}.